article h1 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #e5e5e5;
}

article h2 {
    padding-bottom: 0.25em;
    border-bottom: 1px solid #e5e5e5;
}

article p {
    text-align: justify;
}